

<section class="portfolio sections">
    <div class="container">
        <div class="head_title text-center">
            <h1>Provo Live Algoritmat</h1>
            <p>Vendos në praktikë ato që mëson në teori me testimet interaktive të algoritmave kriptografikë.</p>
        </div>
        <div class="row">
            <div class="portfolio-wrapper text-center">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Md5","LiveTest")'">
                        <i class="fa fa-external-link"></i>
                        <div class="separator"></div>
                        <h4>MD-5</h4>
                        <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Sha1","LiveTest")'">
                        <i class="fa fa-gears"></i>
                        <div class="separator"></div>
                        <h4>SHA-1</h4>
                        <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Sha2","LiveTest")'">
                        <i class="fa fa-book"></i>
                        <div class="separator"></div>
                        <h4>SHA-2</h4>
                        <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Sha3","LiveTest")'">
                        <i class="fa fa-bug"></i>
                        <div class="separator"></div>
                        <h4>SHA-3</h4>
                        <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="portfolio-wrapper2 text-center">

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Des","LiveTest")'">
                        <i class="fa fa-bug"></i>
                        <div class="separator"></div>
                        <h4>DES</h4>
                        <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Aes","LiveTest")'">
                        <i class="fa fa-gears"></i>
                        <div class="separator"></div>
                        <h4>AES</h4>
                        <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("DiffieHellman","LiveTest")'">
                        <i class="fa fa-clock-o"></i>
                        <div class="separator"></div>
                        <h4>Diffie Hellman</h4>
                        <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Rsa","LiveTest")'">
                        <i class="fa fa-compass"></i>
                        <div class="separator"></div>
                        <h4>RSA</h4>
                        <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- /container -->
</section>